.logueado{

}

h1{
	font-size: 150%;
	color:#cef6f5;
}

/* Titulos de de cada campo de datos */
.datos{
	font-weight: bold;
	color:#cef6f5;
	font-size: 110%;
}

/* peculiaridad titulos lado speakers*/
.dataspeak{
	margin-bottom: 3%;
}

/* contenedor principal del perfil */
.container{
	display: -webkit-flex;
    display: flex;
	-webkit-flex-flow: row;
    flex-flow: row;
}

/* contenedor de la parte del avatar */
.aside_container{	
	width:25%;
	height:500px;
	margin-right: 1%;
}

/* contenedor de toda la info del perfil */
.profile_container{
	width:74%;
}

/* contenido de bloque aside/izquierda */
.aside_info{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
 	 flex-wrap: wrap;

	background-color: #5ba8a7;
	padding: 4%;
	-webkit-border-radius: 2%;
	margin-bottom: 3%;
	font-size: 90%;
}

/* div con iconos de speakers/visitantes */
.speakers_div{
	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-wrap: nowrap;
  	flex-wrap: nowrap;
}
	

/* contenedores de info usuario */
.user_info{
	background-color: #5ba8a7;	
	padding: 2%;
	-webkit-border-radius: 1%;
	margin-bottom: 1%;
	font-size: 100%;
	overflow: hidden;
}

/* quitar margen final */
.last_info{
	margin-bottom: 0%;	
}


/* estilo avatar del perfil */
.avatar{
	width: 100%;
	-webkit-border-radius: 2%;
}

/* iconos speakers/contactos*/
.speakers{
	-webkit-justify-content: space-between; 
	justify-content: space-between; 

	width: 25%;
	-webkit-border-radius: 10%;	
	margin-right: 3%;
}

/* botones enviar y borrar: estado normal */
.boton{
	float: right;
	border:0px; /* Propiedad que se pone para no ver el borde del botón por defecto */	
	font-weight:bold;
	font-size:100%;
	padding:0.5% 1%; 	
	color:#5ba8a7;
	background-color:#cef6f5;
	-webkit-border-radius:5%;	
	margin-top:1%;
	margin-bottom:0;
}

/* botones enviar y borrar: raton encima */
.boton:hover{
	border:0px; /* Propiedad que se pone para no ver el borde del botón por defecto */	
	color:#7cc2c1;
	background-color:#022928;
}