*{
	margin:0;
	font-family:cambria;
}

@font-face {
	 font-family:"Cambria";
	 src:url("fonts/cambria.ttf");
	 src:url("fonts/cambria_bold.ttf");
}

body{				
	background: -webkit-linear-gradient(#CEF6F5,skyblue);
}
			
#menu{
	background-color:white;
	height:5%;
	-webkit-box-shadow: 0 0 10px 2px #888;
	padding-top: 0.2%;
}

#menu_container{
	margin:0 auto;
	width:60%;
}

img.logo{
	height:95%;
	float:left;
}

div.login,div.login:hover{
	width:10%;
	float:right;
	padding: 0.5% 0.5%;	
	margin-left:1%;
	margin-top:1.1%;
	text-align:center;
	font-weight:bold;
	-webkit-border-radius:5%;
}

div.login{
	color:#205877;
	background-color:skyblue;
}

div.login:hover{
	color:skyblue;
	background-color:#205877;
}
	
#container{
	width:60%;
	height:auto;
	margin:0 auto;	
	padding:1% 1%;
	clear:both;
}
			
#intro{
	margin:0 auto;
	background-color:skyblue;
	height:auto;
	padding:1% 1%;
	-webkit-border-radius: 1%;
	border:1 solid #205877;	
}

img.intro{
	height:50%;
	-webkit-border-radius:1%;	
}
div.options:hover{
text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,0 0 0.2em #87F;
}
div.options1:hover{
text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,0 0 0.2em #87F;
}


div.options, div.options1{
    float:left;
	margin:1% 0;
	background-color:#205877;
	width:21.99%;
	-webkit-border-radius: 4%;
	border:1 solid black;
	padding: 1% 1%; 
	text-shadow: black 0.1em 0.1em 0.2em;

}

div.options{
	margin-right:1%;
}

div.options1{
	margin-right:0%;
}

img.options{
	width:99%;
	-webkit-border-radius: 4%;
}

td.number{
	font-size:3em;
	
}


/* --------- PIE ---------  */

/* Pie completo */
#footer{
	background-color:black;
	height:21.25%;
	margin-top:1%;
	clear:both;
	border-top:5px solid #205877;	
}

/* Contenedor del Pie */
#footer_container{
	margin:0 auto;
	padding-top:1%;
	width:60%;
}

table{	
	color:skyblue;
	width:100%;
}

