/* Estilos generales de todo el documento */
*{
	margin:0;
	font-family:cambria;
}

/* Estilo de parrafos */
p{
	color:7cc2c1;
	font-size:0.75em;
}

/* Importar la fuente */
@font-face {
	 font-family:"Cambria";
	 src:url("fonts/cambria.ttf");
	 src:url("fonts/cambria_bold.ttf");
}

/* Estilo del body */
body{				
	background: -webkit-linear-gradient(#CEF6F5,#5ba8a7);
}

/* --------- MENU ---------  */

/* Fondo menu */			
#menu{
	background-color:white;
	height:5%;
	-webkit-box-shadow: 0 0 10px 2px #888;
	padding-top: 0.2%;
}

/* Contenedor menu */
#menu_container{
	margin:0 auto;
	width:60%;
}

/* Logo */
img.logo{
	height:95%;
	float:left;
}

/* Botones para loguearse */
div.login,div.login:hover{
	width:10%;
	float:right;
	padding: 0.5% 0.5%;	
	margin-left:1%;
	margin-top:1.1%;
	text-align:center;
	font-weight:bold;
	-webkit-border-radius:5%;
}

div.login{
	color:165c5b;
	background-color:a2dbda;
}

div.login:hover{
	color:a2dbda;
	background-color:165c5b;
}

/* Boton para el idioma */
div.lan, div.lan:hover{
	width:4%;
	float:right;
	padding: 0.5% 0.5%;	
	margin-left:1%;
	margin-top:1.1%;
	text-align:center;
	font-weight:bold;
	-webkit-border-radius:5%;
	
}

div.lan{
	color:5ba8a7;
	background-color:cef6f5;
}

div.lan:hover{
	color:cef6f5;
	background-color:5ba8a7;
}

/* --------- CONTENEDOR PRINCIPAL ---------  */
	
#container{
	width:60%;
	height:auto;
	margin:0 auto;	
	padding:1% 1%;
	overflow:hidden;
}
	
/* Contenedor de la introduccion */	
#intro{
	margin:0 auto;
	background-color:#5ba8a7;
	height:auto;
	padding:1% 1%;
	-webkit-border-radius: 1%;
	border:1px solid 165c5b;
}

/* Imagen de la introduccion */	
img.intro{
	height:50%;
	-webkit-border-radius:1%;
	border:1px solid 165c5b;	
}

/* Opciones de la pagina */	
div.options, div.options1{
	float:left;	
	width:21.99%;
	margin-top:1%;
	padding: 1% 1%; 
	background: -webkit-linear-gradient(#5ba8a7,#165c5b);
	text-align:center;
	text-shadow: black 0.1em 0.1em 0.2em;
	border:1 solid 022928;
	-webkit-border-radius:4%;
}

div.options{
	margin-right:1%;
}

div.options1{
	margin-right:0%;
}

div.options:hover, div.options1:hover{
	box-shadow: 0 0 10px 022928;
}

/* Imagenes de opciones de la pagina */	
img.options{
	width:99%;
	margin-bottom:2%;
	-webkit-border-radius: 4%;
	border:1px solid 022928;

}

/* Titulos de opciones de la pagina */	
span.titulo{
	font-size:1.1em;
	color:cef6f5;
	font-weight:bold;
}

/* --------- PIE ---------  */

/* Pie completo */
#footer{
	background-color:022928;
	height:21.25%;
	clear:both;
	border-top:5px solid #165c5b;	
}

/* Contenedor del Pie */
#footer_container{
	margin:0 auto;
	padding-top:1%;
	width:60%;
}

table{	
	color:cef6f5;
	width:100%;
}

