/* contenedores generales */
.form_container{
	margin:0 auto;
	background-color:5ba8a7;	
	padding:1%;
	-webkit-border-radius: 1%;
	margin-bottom:1%;
	font-size:120%;
}

/* el contenedor de los botones del formulario tienen la peculiaridad de situarse al final */
.botones{
	display: flex;
	display: -webkit-flex;
  	flex-flow: row;
	-webkit-flex-flow: row;	
	-webkit-justify-content: flex-end; 
  	justify-content: flex-end;
}

/* Campos del formulario */
input, textarea{
	color: 5ba8a7;
	margin-bottom:1%;
	padding:0.5%;
}

/* botones enviar y borrar: estado normal */
.boton{
	border:0px; /* Propiedad que se pone para no ver el borde del botón por defecto */	
	font-weight:bold;
	font-size:80%;
	padding:0.5% 1%; 	
	color:5ba8a7;
	background-color:cef6f5;
	-webkit-border-radius:5%;	
	margin-left:1%;
	margin-bottom:0;
}

/* botones enviar y borrar: raton encima */
.boton:hover{
	border:0px; /* Propiedad que se pone para no ver el borde del botón por defecto */	
	color:7cc2c1;
	background-color:022928;
}


